bleach==4.1.0
certifi==2023.7.22
cffi==1.15.1
cryptography>=39.0.0
cycler==0.11.0
et_xmlfile==1.1.0
fonttools>=4.25.0
huggingface_hub>=0.16.0
idna==3.3
importlib-metadata>=6.0.0
jinja2>=3.1.0
joblib>=1.3.0
kiwisolver>=1.4.0
matplotlib>=3.7.0
networkx>=3.0
numexpr>=2.8.4
openpyxl>=3.1.0
packaging>=23.0
pandas>=1.5.3
panel>=1.0.0
param>=1.13.0
protobuf>=4.23.0
pycparser>=2.21
pyopenssl>=23.0.0
pyparsing>=3.0.9
pysocks==1.7.1
python-dateutil==2.8.2
python-louvain==0.16
pytz>=2023.0
requests>=2.31.0
scikit-learn
scikit-plot==0.3.7
scipy>=1.10.0
six==1.16.0
tqdm>=4.65.0
typing-extensions>=4.5.0
yacs==0.1.6

# Torch và PyG: để Kaggle tự cài theo CUDA, không pin version
torch
torchvision
torchaudio
pyg-lib
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric

# Các gói pip thêm (đa số ok)
absl-py
appdirs
argon2-cffi
argon2-cffi-bindings
argparse
attrs
backcall
beautifulsoup4
biopandas
biopython
bioservices
biotite
cachetools
cattrs
charset-normalizer
click
colorama
colorlog
debugpy
decorator
deepdiff
defusedxml
dill
docker-pycreds
easy-parallel
easydev
egnn-pytorch
einops
fair-esm
freesasa
gevent
gitdb
gitpython
google-auth
google-auth-oauthlib
graphein
greenlet
grequests
grpcio
h5py
huggingface-hub
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
llvmlite
lmdb
lxml
markdown
matplotlib-inline
mistune
mpmath
msgpack
multipledispatch
multiprocess
nbclient
nbconvert
nbformat
nest-asyncio
node2vec
notebook
numba
numpy
oauthlib
ordered-set
pandocfilters
parso
pathos
pathtools
pexpect
pickleshare
plotly
pox
ppft
prometheus-client
promise
prompt-toolkit
psutil
ptyprocess
pyaaisc
pyasn1
pyasn1-modules
pydantic
pygcl
pygments
pyod
pyrr
pyrsistent
python-dotenv
pyyaml
pyzmq
qtconsole
qtpy
rdkit-pypi
regex
requests-cache
requests-oauthlib
rsa
sacremoses
se3-transformer-pytorch
seaborn
send2trash
sentry-sdk
setproctitle
shortuuid
skorch
smart-open
smmap
soupsieve
suds-community
sympy
tables
tabulate
tenacity
terminado
testpath
tokenizers
traitlets
transformers
url-normalize
urllib3
wandb
wcwidth
webencodings
werkzeug
wget
widgetsnbextension
wrapt
xarray
xmltodict
zipp
zope-event
zope-interface
